{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Facebook Tabao{% endblock title %}</h1>


<a class="action" href="{{ url_for('sns.profile_create') }}">Profile</a>


{% endblock %}
{% block content %}

      <article class="post">
            <header>
            <div class="box">
                <h2>{{ post['username'] }}</h2>
                <hr>
                <p>{{ post['details'] }} </p>
            </div>
    
            </header>
      </article>
<body>
    <h1>Display Local Image in Flask</h1>

    <img src="{{ path }}" width="500" height="600">

</body>
{% endblock %}






